<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arena.Custom.SECC.OAuth.Properties.Settings.ArenaDBConnectionString" connectionString="Data Source=dev-sql-server;Initial Catalog=ArenaDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
